body{
    background-color: burlywood;
}

.table{
    background-color: cadetblue;
    border-radius: 12px;
    margin: 20px;
    text-align: center;
}

h1{
    font-size: 20px;
}

.nom{
    margin: 10px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 16px;
    
}

.main{
    max-width: 100vw;
    max-height: 100vh;
    justify-content: center;
    align-items: center; 
}
